In [1]:
# Load libraries
import pandas as pd
import pyspark
from pyspark.sql import SparkSession, functions as F
from pyspark.sql.types import StructType, StructField, StringType, TimestampType, IntegerType, DoubleType

## Week 5 Homework

In this homework we'll put what we learned about Spark in practice.

For this homework we will be using the FHV 2019-10 data found here. [FHV Data](https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz)

## Questions

### Question 1:

**Install Spark and PySpark**

- Install Spark [OK]
- Run PySpark [OK]
- Create a local spark session [OK]
- Execute spark.version [OK]

In [2]:
# create a spark session
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [3]:
pyspark.__version__

'3.5.0'

In [4]:
spark.version

'3.5.0'

### Question 2:

**FHV October 2019**

Read the October 2019 FHV into a Spark Dataframe with a schema as we did in the lessons.

Repartition the Dataframe to 6 partitions and save it to parquet.

What is the average size of the Parquet (ending with .parquet extension) Files that were created (in MB)? Select the answer which most closely matches.

- 1MB
- 6MB
- 25MB
- 87MB

R= **6MB**

In [5]:
# Load data with pandas for obtain the schema
pdf = pd.read_csv('data/raw/fhv/2019/10/fhv_tripdata_2019-10.csv.gz', compression='gzip', nrows=1000)

In [6]:
# dtypes
pdf.dtypes

dispatching_base_num       object
pickup_datetime            object
dropOff_datetime           object
PUlocationID              float64
DOlocationID              float64
SR_Flag                   float64
Affiliated_base_number     object
dtype: object

In [7]:
# first 3 elements
pdf.head(3)

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00009,2019-10-01 00:23:00,2019-10-01 00:35:00,264.0,264.0,NaN,B00009
1,B00013,2019-10-01 00:11:29,2019-10-01 00:13:22,264.0,264.0,NaN,B00013
2,B00014,2019-10-01 00:11:43,2019-10-01 00:37:20,264.0,264.0,NaN,B00014

In [8]:
# Get the schema
spark.createDataFrame(pdf).schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', DoubleType(), True), StructField('DOlocationID', DoubleType(), True), StructField('SR_Flag', DoubleType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [9]:
# fhv schema
fhv_schema = StructType([
    StructField('dispatching_base_num', StringType(), True), 
    StructField('pickup_datetime', TimestampType(), True), 
    StructField('dropOff_datetime', TimestampType(), True), 
    StructField('PUlocationID', IntegerType(), True), 
    StructField('DOlocationID', IntegerType(), True), 
    StructField('SR_Flag', DoubleType(), True), 
    StructField('Affiliated_base_number', StringType(), True)
])

In [10]:
# load csv data
fhv_df = spark.read \
    .option("header", "true") \
    .schema(fhv_schema) \
    .csv('data/raw/fhv/2019/10/fhv_tripdata_2019-10.csv.gz')

In [11]:
# Schema
fhv_df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: double (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [12]:
# Repartition the Dataframe to 6 partitions and save it to parquet
fhv_df \
    .repartition(6) \
    .write.parquet('data/pq/fhv/2019/10', mode="overwrite")

In [19]:
!ls -lh data/pq/fhv/2019/10

total 39M
-rw-r--r-- 1 kiramishima 197609    0 Feb 26 00:49 _SUCCESS
-rw-r--r-- 1 kiramishima 197609 6.4M Feb 26 00:49 part-00000-d136129f-f205-451c-93d1-d1badffbdc33-c000.snappy.parquet
-rw-r--r-- 1 kiramishima 197609 6.4M Feb 26 00:49 part-00001-d136129f-f205-451c-93d1-d1badffbdc33-c000.snappy.parquet
-rw-r--r-- 1 kiramishima 197609 6.4M Feb 26 00:49 part-00002-d136129f-f205-451c-93d1-d1badffbdc33-c000.snappy.parquet
-rw-r--r-- 1 kiramishima 197609 6.4M Feb 26 00:49 part-00003-d136129f-f205-451c-93d1-d1badffbdc33-c000.snappy.parquet
-rw-r--r-- 1 kiramishima 197609 6.4M Feb 26 00:49 part-00004-d136129f-f205-451c-93d1-d1badffbdc33-c000.snappy.parquet
-rw-r--r-- 1 kiramishima 197609 6.4M Feb 26 00:49 part-00005-d136129f-f205-451c-93d1-d1badffbdc33-c000.snappy.parquet

### Question 3:

**Count records**

How many taxi trips were there on the 15th of October?

Consider only trips that started on the 15th of October.

- 108,164
- 12,856
- 452,470
- 62,610

R= **62610**

In [20]:
# Read data from parquet
df_fhv = spark.read.parquet('data/pq/fhv/2019/10')

In [21]:
# check schema
df_fhv.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: double (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [22]:
# new columns
df_fhv = df_fhv \
    .withColumn('pickup_date', F.to_date(df_fhv['pickup_datetime'])) \
    .withColumn('dropoff_date', F.to_date(df_fhv['dropOff_datetime']))

In [23]:
df_fhv.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: double (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)
 |-- pickup_date: date (nullable = true)
 |-- dropoff_date: date (nullable = true)

In [24]:
df_fhv \
    .filter(df_fhv['pickup_date'] == F.lit('2019-10-15') ) \
    .count()

62610

In [26]:
# Alternative
df_fhv.createOrReplaceTempView('trips_data')

In [27]:
spark.sql("""
SELECT
    COUNT(1) AS total_records
FROM trips_data
WHERE pickup_date == '2019-10-15'
""").show()

+-------------+
|total_records|
+-------------+
|        62610|
+-------------+

### Question 4:

**Longest trip for each day**

What is the length of the longest trip in the dataset in hours?

- 631,152.50 Hours
- 243.44 Hours
- 7.68 Hours
- 3.32 Hours

R= **631,152.50**

In [28]:
df_fhv.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|pickup_date|dropoff_date|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+------------+
|              B01843|2019-10-29 16:49:00|2019-10-29 20:29:00|         264|         264|   NULL|                  NULL| 2019-10-29|  2019-10-29|
|              B01559|2019-10-24 08:37:30|2019-10-24 08:55:30|         264|         264|   NULL|                B01559| 2019-10-24|  2019-10-24|
|              B00911|2019-10-18 15:43:00|2019-10-18 17:50:37|         264|         244|   NULL|                B00911| 2019-10-18|  2019-10-18|
|              B02795|2019-10-26 11:06:00|2019-10-26 12:20:39|          39|          49|   NULL|                B02795| 2019-10-26|  2019-10-26|
|              B01349|2019-10-14 19:00:00|2019-10-14 20:15:00|         264|         264|   NULL|                B01349| 2019-10-14|  2019-10-14|
|              B00112|2019-10-18 17:00:17|2019-10-18 17:33:29|         264|         261|   NULL|                B00112| 2019-10-18|  2019-10-18|
|              B01340|2019-10-07 14:43:19|2019-10-07 15:06:27|         264|         174|   NULL|                B01340| 2019-10-07|  2019-10-07|
|              B00856|2019-10-31 01:57:37|2019-10-31 02:01:42|         264|          61|   NULL|                B02889| 2019-10-31|  2019-10-31|
|              B01800|2019-10-16 08:44:00|2019-10-16 09:47:00|         264|         264|   NULL|                B01800| 2019-10-16|  2019-10-16|
|              B03055|2019-10-28 06:58:20|2019-10-28 07:03:48|         264|         108|   NULL|                B03055| 2019-10-28|  2019-10-28|
|              B01087|2019-10-09 21:35:52|2019-10-09 21:50:08|         261|         133|   NULL|                B01087| 2019-10-09|  2019-10-09|
|              B00802|2019-10-21 02:01:44|2019-10-21 02:04:55|         264|          14|   NULL|                B00802| 2019-10-21|  2019-10-21|
|              B03160|2019-10-25 11:11:00|2019-10-25 11:18:00|         205|         205|   NULL|                B02875| 2019-10-25|  2019-10-25|
|              B00837|2019-10-08 08:34:52|2019-10-08 11:01:32|         264|         264|   NULL|                B00837| 2019-10-08|  2019-10-08|
|              B01285|2019-10-02 14:24:12|2019-10-02 14:34:54|         264|         167|   NULL|                B01285| 2019-10-02|  2019-10-02|
|              B00756|2019-10-10 08:38:00|2019-10-10 08:46:00|         264|         264|   NULL|                B02875| 2019-10-10|  2019-10-10|
|              B00037|2019-10-20 15:52:40|2019-10-20 16:05:31|         264|         149|   NULL|                B00037| 2019-10-20|  2019-10-20|
|              B00477|2019-10-09 08:21:32|2019-10-09 08:45:57|         142|           1|   NULL|                B00477| 2019-10-09|  2019-10-09|
|              B01843|2019-10-07 05:56:00|2019-10-07 07:45:00|         264|         264|   NULL|                  NULL| 2019-10-07|  2019-10-07|
|              B02849|2019-10-04 04:28:50|2019-10-04 04:36:36|         264|          76|   NULL|                B02849| 2019-10-04|  2019-10-04|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+------------+
only showing top 20 rows

In [29]:
df_fhv2 = df_fhv \
    .withColumn('trip_duration', \
        (F.col("dropOff_datetime").cast("long") - \
        F.col('pickup_datetime').cast("long")) / 3600)

In [30]:
df_fhv2 \
    .select('trip_duration') \
    .orderBy(F.desc('trip_duration')) \
    .show(5)

+-----------------+
|    trip_duration|
+-----------------+
|         631153.5|
|         631152.5|
|87672.44083333333|
|70129.02805555555|
|           8794.0|
+-----------------+
only showing top 5 rows

In [31]:
df_fhv2.createOrReplaceTempView('trips_data_duration')

In [32]:
spark.sql("""
SELECT MAX(trip_duration)
FROM trips_data_duration
""").show()

# The answers don't have 631153.5, so, the correct answer is 631152.5

+------------------+
|max(trip_duration)|
+------------------+
|          631153.5|
+------------------+

### Question 5:

**User Interface**

Spark’s User Interface which shows the application's dashboard runs on which local port?

- 80
- 443
- 4040
- 8080

R= **4040**

### Question 6:

**Least frequent pickup location zone**

Load the zone lookup data into a temp view in Spark  
[Zone Data](https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv)

Using the zone lookup data and the FHV October 2019 data, what is the name of the LEAST frequent pickup location Zone?  

- East Chelsea
- Jamaica Bay
- Union Sq
- Crown Heights North

R= **Jamaica Bay**

In [33]:
zdf = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv')
spark.createDataFrame(zdf).schema

StructType([StructField('LocationID', LongType(), True), StructField('Borough', StringType(), True), StructField('Zone', StringType(), True), StructField('service_zone', StringType(), True)])

In [34]:
# Zones Schema
zones_schema = StructType([
    StructField('LocationID', IntegerType(), True), 
    StructField('Borough', StringType(), True), 
    StructField('Zone', StringType(), True), 
    StructField('service_zone', StringType(), True)
])

In [35]:
# load csv data
df_zones = spark.read \
    .option("header", "true") \
    .schema(zones_schema) \
    .csv('data/raw/zones/taxi_zone_lookup.csv')

In [36]:
# create temp view
df_zones.createTempView('zones_lookup')

In [37]:
# Show data
spark.sql("""
SELECT * FROM zones_lookup
LIMIT 10
""").show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
+----------+-------------+--------------------+------------+

In [38]:
# Solution 1
spark.sql("""
SELECT
    pickup_location.Zone,
    COUNT(1)
FROM trips_data
INNER JOIN zones_lookup AS pickup_location
    ON trips_data.PUlocationID = pickup_location.LocationID
GROUP BY 1
ORDER BY 2 ASC
""").show()

+--------------------+--------+
|                Zone|count(1)|
+--------------------+--------+
|         Jamaica Bay|       1|
|Governor's Island...|       2|
| Green-Wood Cemetery|       5|
|       Broad Channel|       8|
|     Highbridge Park|      14|
|        Battery Park|      15|
|Saint Michaels Ce...|      23|
|Breezy Point/Fort...|      25|
|Marine Park/Floyd...|      26|
|        Astoria Park|      29|
|    Inwood Hill Park|      39|
|       Willets Point|      47|
|Forest Park/Highl...|      53|
|  Brooklyn Navy Yard|      57|
|        Crotona Park|      62|
|        Country Club|      77|
|     Freshkills Park|      89|
|       Prospect Park|      98|
|     Columbia Street|     105|
|  South Williamsburg|     110|
+--------------------+--------+
only showing top 20 rows

In [40]:
# Solution 2: Join fhv_df with df_zones
fhv_zones_df = fhv_df.join(df_zones, fhv_df.PUlocationID == df_zones.LocationID)
fhv_zones_df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+-------+---------------+------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|LocationID|Borough|           Zone|service_zone|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+-------+---------------+------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   NULL|                B00009|       264|Unknown|             NV|         N/A|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   NULL|                B00013|       264|Unknown|             NV|         N/A|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   NULL|                B00014|       264|Unknown|             NV|         N/A|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   NULL|                B00014|       264|Unknown|             NV|         N/A|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   NULL|                B00014|       264|Unknown|             NV|         N/A|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|         129|         129|   NULL|       B00021         |       129| Queens|Jackson Heights|   Boro Zone|
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|          57|          57|   NULL|       B00021         |        57| Queens|         Corona|   Boro Zone|
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|         173|         173|   NULL|       B00021         |       173| Queens|   North Corona|   Boro Zone|
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|         226|         226|   NULL|       B00021         |       226| Queens|      Sunnyside|   Boro Zone|
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|          56|          56|   NULL|       B00021         |        56| Queens|         Corona|   Boro Zone|
|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|          82|          82|   NULL|       B00021         |        82| Queens|       Elmhurst|   Boro Zone|
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|         264|          71|   NULL|                B00037|       264|Unknown|             NV|         N/A|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|         264|          39|   NULL|                B00037|       264|Unknown|             NV|         N/A|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|         264|         188|   NULL|                B00037|       264|Unknown|             NV|         N/A|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|         264|          91|   NULL|                B00037|       264|Unknown|             NV|         N/A|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|         264|          71|   NULL|                B00037|       264|Unknown|             NV|         N/A|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|         264|          35|   NULL|                B00037|       264|Unknown|             NV|         N/A|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|         264|          61|   NULL|                B00037|       264|Unknown|             NV|         N/A|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|         264|         198|   NULL|                B00037|       264|Unknown|             NV|         N/A|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|         264|   NULL|                  #N/A|       264|Unknown|             NV|         N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+----------+-------+---------------+------------+
only showing top 20 rows

In [41]:
fhv_zones_df.createOrReplaceTempView('fhv_zones')

In [43]:
spark.sql("""
SELECT Zone, count(*)
FROM fhv_zones
GROUP BY Zone
ORDER BY 2 ASC
""").show()

+--------------------+--------+
|                Zone|count(1)|
+--------------------+--------+
|         Jamaica Bay|       1|
|Governor's Island...|       2|
| Green-Wood Cemetery|       5|
|       Broad Channel|       8|
|     Highbridge Park|      14|
|        Battery Park|      15|
|Saint Michaels Ce...|      23|
|Breezy Point/Fort...|      25|
|Marine Park/Floyd...|      26|
|        Astoria Park|      29|
|    Inwood Hill Park|      39|
|       Willets Point|      47|
|Forest Park/Highl...|      53|
|  Brooklyn Navy Yard|      57|
|        Crotona Park|      62|
|        Country Club|      77|
|     Freshkills Park|      89|
|       Prospect Park|      98|
|     Columbia Street|     105|
|  South Williamsburg|     110|
+--------------------+--------+
only showing top 20 rows