In [2]:
import pandas as pd

In [3]:
# Check num rows in parquet before execute seed_kafka
df = pd.read_parquet('./risingwave/data/yellow_tripdata_2022-01.parquet')

In [4]:
df.shape

(2463931, 19)

In [1]:
%load_ext sql

Deploy Shiny apps for free on Ploomber Cloud! Learn more: https://ploomber.io/s/signup

In [3]:
%sql postgresql://root:@localhost:4566/dev

Connecting to 'postgresql://root:***@localhost:4566/dev'

In [ ]:
%sqlcmd tables

## Question 0

[](https://github.com/risingwavelabs/risingwave-data-talks-workshop-2024-03-04/blob/main/homework.md#question-0)

_This question is just a warm-up to introduce dynamic filter, please attempt it before viewing its solution._

What are the dropoff taxi zones at the latest dropoff times?

For this part, we will use the [dynamic filter pattern](https://docs.risingwave.com/docs/current/sql-pattern-dynamic-filters/).

In [8]:
%%sql
CREATE MATERIALIZED VIEW latest_dropoff_time AS
    WITH t AS (
        SELECT MAX(tpep_dropoff_datetime) AS latest_dropoff_time
        FROM trip_data
    )
    SELECT taxi_zone.Zone as taxi_zone, latest_dropoff_time
    FROM t,
            trip_data
    JOIN taxi_zone
        ON trip_data.DOLocationID = taxi_zone.location_id
    WHERE trip_data.tpep_dropoff_datetime = t.latest_dropoff_time;

Running query in 'postgresql://root:***@localhost:4566/dev'

++
||
++
++

In [9]:
%%sql
SELECT
    taxi_zone,
    latest_dropoff_time
FROM
    latest_dropoff_time
LIMIT 1

Running query in 'postgresql://root:***@localhost:4566/dev'

1 rows affected.

+----------------+---------------------+
|   taxi_zone    | latest_dropoff_time |
+----------------+---------------------+
| Midtown Center | 2022-01-03 17:24:54 |
+----------------+---------------------+

## Question 1

[](https://github.com/risingwavelabs/risingwave-data-talks-workshop-2024-03-04/blob/main/homework.md#question-1)

Create a materialized view to compute the average, min and max trip time **between each taxi zone**.

Note that we consider the do not consider `a->b` and `b->a` as the same trip pair. So as an example, you would consider the following trip pairs as different pairs:

```
Yorkville East -> Steinway
Steinway -> Yorkville East
```

From this MV, find the pair of taxi zones with the highest average trip time. You may need to use the [dynamic filter pattern](https://docs.risingwave.com/docs/current/sql-pattern-dynamic-filters/) for this.

Bonus (no marks): Create an MV which can identify anomalies in the data. For example, if the average trip time between two zones is 1 minute, but the max trip time is 10 minutes and 20 minutes respectively.

Options:

1. Yorkville East, Steinway
2. Murray Hill, Midwood
3. East Flatbush/Farragut, East Harlem North
4. Midtown Center, University Heights/Morris Heights

p.s. The trip time between taxi zones does not take symmetricity into account, i.e. `A -> B` and `B -> A` are considered different trips. This applies to subsequent questions as well.

R= **Yorkville East, Steinway**

In [ ]:
-- Create a materialized view to compute the average, min and max trip time between each taxi zone.
CREATE MATERIALIZED VIEW mv_trips_stats AS
SELECT
    pkzone.zone pickup_zone,
    dfzone.zone dropoff_zone,
    AVG(tpep_dropoff_datetime - tpep_pickup_datetime) avg_trip_time,
    MIN(tpep_dropoff_datetime - tpep_pickup_datetime) min_trip_time,
    MAX(tpep_dropoff_datetime - tpep_pickup_datetime) max_trip_time
FROM trip_data trip
JOIN taxi_zone pkzone
    ON trip.pulocationid = pkzone.location_id
JOIN taxi_zone dfzone
    ON trip.dolocationid = dfzone.location_id
GROUP BY 1, 2;

In [5]:
%%sql
SELECT
    pickup_zone,
    dropoff_zone,
    avg_trip_time
FROM
    mv_trips_stats
ORDER BY
    avg_trip_time DESC
LIMIT 1;

Running query in 'postgresql://root:***@localhost:4566/dev'

1 rows affected.

+----------------+--------------+---------------+
|  pickup_zone   | dropoff_zone | avg_trip_time |
+----------------+--------------+---------------+
| Yorkville East |   Steinway   |    23:59:33   |
+----------------+--------------+---------------+

## Question 2

[](https://github.com/risingwavelabs/risingwave-data-talks-workshop-2024-03-04/blob/main/homework.md#question-2)

Recreate the MV(s) in question 1, to also find the **number of trips** for the pair of taxi zones with the highest average trip time.

Options:

1. 5
2. 3
3. 10
4. 1

R= **1**

In [ ]:
-- Recreate the MV(s) in question 1, to also find the number of trips for the pair of taxi zones with the highest average trip time.
CREATE MATERIALIZED VIEW mv_trips_summarize AS
SELECT
    pkzone.zone pickup_zone,
    dfzone.zone dropoff_zone,
    COUNT(*) number_trips,
    AVG(tpep_dropoff_datetime - tpep_pickup_datetime) avg_trip_time,
    MIN(tpep_dropoff_datetime - tpep_pickup_datetime) min_trip_time,
    MAX(tpep_dropoff_datetime - tpep_pickup_datetime) max_trip_time
FROM trip_data trip
JOIN taxi_zone pkzone
    ON trip.pulocationid = pkzone.location_id
JOIN taxi_zone dfzone
    ON trip.dolocationid = dfzone.location_id
GROUP BY 1, 2;

In [11]:
%%sql
SELECT
    pickup_zone,
    dropoff_zone,
    avg_trip_time,
    number_trips
FROM
    mv_trips_summarize
ORDER BY
    avg_trip_time DESC
LIMIT 1;

Running query in 'postgresql://root:***@localhost:4566/dev'

1 rows affected.

+----------------+--------------+---------------+--------------+
|  pickup_zone   | dropoff_zone | avg_trip_time | number_trips |
+----------------+--------------+---------------+--------------+
| Yorkville East |   Steinway   |    23:59:33   |      1       |
+----------------+--------------+---------------+--------------+

## Question 3

[](https://github.com/risingwavelabs/risingwave-data-talks-workshop-2024-03-04/blob/main/homework.md#question-3)

From the latest pickup time to 17 hours before, what are the top 3 busiest zones in terms of number of pickups? 
For example if the latest pickup time is 2020-01-01 17:00:00, then the query should return the top 3 busiest zones from 2020-01-01 00:00:00 to 2020-01-01 17:00:00.

HINT: You can use [dynamic filter pattern](https://docs.risingwave.com/docs/current/sql-pattern-dynamic-filters/) to create a filter condition based on the latest pickup time.

NOTE: For this question `17 hours` was picked to ensure we have enough data to work with.

Options:

1. Clinton East, Upper East Side North, Penn Station
2. LaGuardia Airport, Lincoln Square East, JFK Airport
3. Midtown Center, Upper East Side South, Upper East Side North
4. LaGuardia Airport, Midtown Center, Upper East Side North

R= **LaGuardia Airport, Lincoln Square East, JFK Airport**

In [18]:
%%sql
CREATE MATERIALIZED VIEW max_pickup_time AS
    SELECT
        MAX(tpep_pickup_datetime) AS latest_pickup_time
    FROM
        trip_data

Running query in 'postgresql://root:***@localhost:4566/dev'

++
||
++
++

In [27]:
%%sql
SELECT
   pkzone.zone pickup_zone,
   COUNT(*) number_trips
 FROM
   trip_data trip
 JOIN taxi_zone pkzone
     ON trip.pulocationid = pkzone.location_id
 WHERE
   trip.tpep_pickup_datetime >= (SELECT MAX(tpep_pickup_datetime)-INTERVAL '17 HOURS' FROM trip_data) AND
   trip.tpep_pickup_datetime <= (SELECT MAX(tpep_pickup_datetime) FROM trip_data)
 GROUP BY
   pickup_zone
 ORDER BY
   number_trips DESC LIMIT 3;

Running query in 'postgresql://root:***@localhost:4566/dev'

3 rows affected.

+---------------------+--------------+
|     pickup_zone     | number_trips |
+---------------------+--------------+
|  LaGuardia Airport  |      19      |
|     JFK Airport     |      17      |
| Lincoln Square East |      17      |
+---------------------+--------------+

In [28]:
%%sql
SELECT
   pkzone.zone pickup_zone,
   COUNT(*) number_trips
 FROM
   trip_data trip
 JOIN taxi_zone pkzone
     ON trip.pulocationid = pkzone.location_id
 WHERE
   trip.tpep_pickup_datetime >= (SELECT latest_pickup_time-INTERVAL '17 HOURS' FROM max_pickup_time) AND
   trip.tpep_pickup_datetime <= (SELECT latest_pickup_time FROM max_pickup_time)
 GROUP BY
   pickup_zone
 ORDER BY
   number_trips DESC LIMIT 3;

Running query in 'postgresql://root:***@localhost:4566/dev'

3 rows affected.

+---------------------+--------------+
|     pickup_zone     | number_trips |
+---------------------+--------------+
|  LaGuardia Airport  |      19      |
|     JFK Airport     |      17      |
| Lincoln Square East |      17      |
+---------------------+--------------+

In [29]:
%%sql
CREATE MATERIALIZED VIEW mv_trips_pickup_time_17hrs_before AS
SELECT
   pkzone.zone pickup_zone,
   COUNT(*) number_trips
 FROM
   trip_data trip
 JOIN taxi_zone pkzone
     ON trip.pulocationid = pkzone.location_id
 WHERE
   trip.tpep_pickup_datetime >= (SELECT latest_pickup_time-INTERVAL '17 HOURS' FROM max_pickup_time) AND
   trip.tpep_pickup_datetime <= (SELECT latest_pickup_time FROM max_pickup_time)
 GROUP BY
   pickup_zone
 ORDER BY
   number_trips DESC LIMIT 3;

Running query in 'postgresql://root:***@localhost:4566/dev'

++
||
++
++

In [31]:
%%sql
SELECT * FROM mv_trips_pickup_time_17hrs_before;

Running query in 'postgresql://root:***@localhost:4566/dev'

3 rows affected.

+---------------------+--------------+
|     pickup_zone     | number_trips |
+---------------------+--------------+
|  LaGuardia Airport  |      19      |
|     JFK Airport     |      17      |
| Lincoln Square East |      17      |
+---------------------+--------------+